@font-face {
    font-family: 'Gotham Light';
    src: url('Gotham-Light.otf');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('Gotham-Bold.otf');
}

* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Gotham Light';
	background: #F7F7F7;
}

.container {
	margin: auto;
	width: 40%;
	text-align: center;
}

.container p {
	width: 80%;
	margin: auto;
	padding: 20px;
	text-align: center;
	color: #1D2229;
}

#sign {
	background: #FFF;
	position: relative;
	margin: auto;
	text-align: center;
}

.container form {
	display: block;
	padding: 20px 0;
}

.container form input[type=text], .container form input[type=number]{
	width: 80%;
	background: #FFF;
	border: none;
	border-bottom: solid 1px #EAEAEA;
	color: #1D2229;
	padding: 10px 0;
	margin: 10px 0;
	font-family: 'Gotham Light';
	font-size: 14px;
	transition: all 0.2s;
	letter-spacing: 1px;
}

.container form input[type=radio] {
	margin: 0 10px;
}

.container form input[type=text]:focus, input[type=number]:focus {
	outline: none;
	border-bottom: solid 1px #00ADB5;
}

.container textarea {
	width: 80%;
	background: #FFF;
	border: none;
	border: solid 1px #EAEAEA;
	color: #1D2229;
	padding: 10px;
	font-family: 'Gotham Light';
	font-size: 14px;
	transition: all 0.2s;
	letter-spacing: 1px;
}

#bttn {
	width: 80%;
	background: #00ADB5;
	color: #FFF;	
	padding: 15px 0;
	margin: 15px;
	font-family: 'Gotham Bold';
	border: none;
    	font-size: 14px;
    	cursor: pointer;
    	letter-spacing: 1px;
}

#bttn:focus {
	outline: none;
}

