<html>
<head> 
	<title>SolarCity</title>
	<link rel="stylesheet" type="text/css" href="SolarCity.css"> 
</head>
<body>
	<div class="container">

		<img src="SClogo.svg">

		<p> The following is a survey designed to know people's reason for switching to solar power. Your input will help fuel the solar revolution. </p>

		<form method = "POST" id="sign">
			<input type = "text" name = "name" placeholder = "Name"/> <br>
			
			<input type = "number" name = "age" placeholder = "Age"/> <br>
			
			<input type = "text" name = "address" placeholder = "Address"/> <br>
			
			<p> Are you interested in solar? </p>
			<input type = "radio" name = "interest" value = "true"/> 
			Yes
			 
			<input type = "radio" name = "interest" value = "false"/> 
			No
			<br>
			
			<p> Why are you interested in Solar?: </p>
			<br>
			<textarea name = "Why?"
					  cols = "40"
					  rows = "5"
					  value = "reason"> </textarea>
			<br>

			<input type="submit"  
				   name="submit" 
				   value="Submit" 
				   id ="bttn" />

		</form>
	</div>
</body>
</html>